<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fastUpgradeWAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <fastUpgradeWAP.Properties.Settings>
            <setting name="APACHE_ROOT" serializeAs="String">
                <value>c:\DATA\Apache\Apache2.4\</value>
            </setting>
            <setting name="PHP_ROOT" serializeAs="String">
                <value>c:\DATA\Apache\PHP-IIS\</value>
            </setting>
            <setting name="APACHE_RELATED_SERVICES_TO_STOP" serializeAs="String">
                <value>Apache2.4</value>
            </setting>
            <setting name="APACHE_FILES_TO_COPY" serializeAs="String">
                <value>conf,modules\mod_fcgid.so</value>
            </setting>
            <setting name="PHP_FILES_TO_COPY" serializeAs="String">
                <value>php.ini,tmp_sessions,tmp_uploads,ext\php_redis.dll,ext\cairo.dll,ext\expat.dll,ext\fontconfig.dll,ext\gobject-2.dll,ext\libharfbuzz-0.dll,ext\librrd-4.dll,ext\pango-1.dll,ext\pangocairo-1.dll,ext\pangoft2-1.dll,ext\pangowin32-1.dll,ext\php_rrd.dll,ext\pixman-1.dll</value>
            </setting>
            <setting name="PHP_RELATED_SERVICES_TO_STOP" serializeAs="String">
                <value />
            </setting>
        </fastUpgradeWAP.Properties.Settings>
    </applicationSettings>
</configuration>